openapi: 3.0.0
info:
  title: Amafor Gladiators Digital Ecosystem API
  version: 1.0.0
  description: |
    API for the Amafor Gladiators Digital Ecosystem including:
    - Talent promotion and scout portal
    - Fan engagement and content management
    - Self-service advertising platform
    - Donations and patronage program
    - Administrative backoffice operations
    
    All APIs require authentication except public endpoints marked as such.
    
    **Security Compliance**: ISO 27001:2022 compliant
    **Accessibility**: WCAG 2.1 AA compliant interfaces
  contact:
    name: Amafor Gladiators FC
    email: support@amaforgladiatorsfc.com
  license:
    name: Proprietary
    url: https://amaforgladiatorsfc.com/terms

servers:
  - url: https://api.amaforgladiatorsfc.com/v1
    description: Production API
  - url: https://staging-api.amaforgladiatorsfc.com/v1
    description: Staging API
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User management and profiles
  - name: Players
    description: Player profile management
  - name: Content
    description: Articles, news, and content management
  - name: Fixturees
    description: Fixtures, results, and match data
  - name: Advertising
    description: Self-service advertising platform
  - name: Donations
    description: Donation processing and management
  - name: Patronage
    description: Patronage program management
  - name: Academy
    description: Academy information and operations
  - name: Analytics
    description: View analytics and performance tracking
  - name: System
    description: System administration and configuration
  - name: Audit


paths:
  # ==============================
  # WEBHOOK ENDPOINTS
  # ==============================
  /webhooks/paystack:
    post:
      tags: [System]
      summary: Paystack webhook handler
      description: Process Paystack payment notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaystackWebhook'
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          $ref: '#/components/responses/BadRequestError'

  /webhooks/ga4:
    post:
      tags: [Analytics]
      summary: Google Analytics 4 webhook handler
      description: Receive GA4 events for ad view tracking
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GA4Webhook'
      responses:
        '200':
          description: Event processed
        '400':
          $ref: '#/components/responses/BadRequestError'

  # ==============================
  # EVENT SUBSCRIPTION ENDPOINTS
  # ==============================
  /events/subscribe:
    post:
      tags: [System]
      summary: Subscribe to system events (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionId:
                    type: string
                  webhookUrl:
                    type: string
                    format: uri
                  events:
                    type: array
                    items:
                      type: string
                  secret:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /events/subscriptions/{subscriptionId}:
    delete:
      tags: [System]
      summary: Unsubscribe from events (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Subscription removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # BATCH OPERATION ENDPOINTS
  # ==============================
  /batch/players/update:
    post:
      tags: [Players]
      summary: Batch update player profiles (data steward only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updates
              properties:
                updates:
                  type: array
                  items:
                    $ref: '#/components/schemas/BatchPlayerUpdate'
                notifyOnCompletion:
                  type: boolean
                  default: false
      responses:
        '202':
          description: Batch update accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  totalRecords:
                    type: integer
                  estimatedCompletion:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /batch/fixtures/update:
    post:
      tags: [Fixturees]
      summary: Batch update fixtures (sports admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updates
              properties:
                updates:
                  type: array
                  items:
                    $ref: '#/components/schemas/BatchFixtureUpdate'
      responses:
        '202':
          description: Batch update accepted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /batch/jobs/{jobId}:
    get:
      tags: [System]
      summary: Get batch job status
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'


  # ==============================
  # ANALYTICS ENDPOINTS
  # ==============================
  /analytics/content/views:
    get:
      tags: [Analytics]
      summary: Get content view analytics (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: contentId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: contentType
          in: query
          schema:
            type: string
            enum: [article, video, player]
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: View analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /analytics/advertising/summary:
    get:
      tags: [Analytics, Advertising]
      summary: Get advertising analytics summary (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Advertising analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisingAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /analytics/financial/summary:
    get:
      tags: [Analytics]
      summary: Get financial analytics (finance admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: type
          in: query
          schema:
            type: string
            enum: [donations, advertising, patronage, all]
            default: all
      responses:
        '200':
          description: Financial analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /analytics/user/engagement:
    get:
      tags: [Analytics]
      summary: Get user engagement analytics (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: userType
          in: query
          schema:
            type: string
            enum: [fan, scout, advertiser, patron, donor]
      responses:
        '200':
          description: User engagement analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEngagementAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AUDIT LOG ENDPOINTS
  # ==============================
  /audit/logs:
    get:
      tags: [Audit]
      summary: Get audit logs (IT security only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: entityType
          in: query
          schema:
            type: string
            enum: [user, player, article, fixture, campaign, donation, patron]
        - name: entityId
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
        - name: action
          in: query
          schema:
            type: string
            enum: [create, update, delete, login, logout, payment]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
        - name: ipAddress
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /audit/logs/export:
    get:
      tags: [Audit]
      summary: Export audit logs (IT security only)
      security:
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: csv
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Audit log export
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # SYSTEM ADMINISTRATION ENDPOINTS
  # ==============================
  /system/health:
    get:
      tags: [System]
      summary: Get system health status (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/integrations:
    get:
      tags: [System]
      summary: Get integration status (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Integration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/backup:
    post:
      tags: [System]
      summary: Trigger manual backup (IT security only)
      security:
        - bearerAuth: []
      responses:
        '202':
          description: Backup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  estimatedCompletion:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/config:
    get:
      tags: [System]
      summary: Get system configuration (super admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: key
          in: query
          schema:
            type: string
      responses:
        '200':
          description: System configuration
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    put:
      tags: [System]
      summary: Update system configuration (super admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Configuration updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/notifications:
    get:
      tags: [System]
      summary: Get system notifications (admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: type
          in: query
          schema:
            type: string
            enum: [system, user, payment, content, security]
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: System notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemNotification'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/notifications/{notificationId}/read:
    post:
      tags: [System]
      summary: Mark notification as read
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification marked as read
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /system/notifications/read-all:
    post:
      tags: [System]
      summary: Mark all notifications as read
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All notifications marked as read
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # COOKIE CONSENT ENDPOINTS
  # ==============================
  /consent/cookie:
    post:
      tags: [System]
      summary: Set cookie consent preference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - preference
              properties:
                preference:
                  type: string
                  enum: [accept, reject]
                sessionId:
                  type: string
      responses:
        '200':
          description: Consent preference saved
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  trackingEnabled:
                    type: boolean
                  message:
                    type: string

  /consent/cookie/preference:
    get:
      tags: [System]
      summary: Get current cookie consent preference
      parameters:
        - name: sessionId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Consent preference
          content:
            application/json:
              schema:
                type: object
                properties:
                  preference:
                    type: string
                  trackingEnabled:
                    type: boolean
                  setAt:
                    type: string
                    format: date-time

  # ==============================
  # DONATIONS ENDPOINTS
  # ==============================
  /donations:
    post:
      tags: [Donations]
      summary: Process donation
      description: Public endpoint for one-time donations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationCreate'
      responses:
        '200':
          description: Donation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: uri
                    description: Paystack payment URL
                  reference:
                    type: string
                  amount:
                    type: number
        '400':
          $ref: '#/components/responses/BadRequestError'

  /donations/{donationId}:
    get:
      tags: [Donations]
      summary: Get donation receipt
      description: Retrieve donation details and receipt
      parameters:
        - name: donationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Donation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Donation'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /donations/webhook/paystack:
    post:
      tags: [Donations]
      summary: Paystack webhook handler
      description: Receive payment notifications from Paystack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          $ref: '#/components/responses/BadRequestError'

  # ==============================
  # SUPPORTER WALL ENDPOINTS
  # ==============================
  /supporters:
    get:
      tags: [Donations]
      summary: Get supporter wall
      description: Public endpoint showing donors who opted in
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: sort
          in: query
          schema:
            type: string
            enum: [alphabetical, recent, amount]
            default: alphabetical
      responses:
        '200':
          description: List of supporters
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supporter'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # ==============================
  # PATRONAGE PROGRAM ENDPOINTS
  # ==============================
  /patronage/tiers:
    get:
      tags: [Patronage]
      summary: Get patronage tiers
      description: Public endpoint showing available patronage levels
      responses:
        '200':
          description: List of patronage tiers
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatronTier'
                  benefits:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string

  /patronage/subscribe:
    post:
      tags: [Patronage]
      summary: Subscribe to patronage program
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatronSubscriptionCreate'
      responses:
        '200':
          description: Subscription initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: uri
                  reference:
                    type: string
                  amount:
                    type: number
                  frequency:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /patronage/subscriptions/{subscriptionId}:
    get:
      tags: [Patronage]
      summary: Get subscription details
      security:
        - bearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatronSubscription'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    put:
      tags: [Patronage]
      summary: Update subscription
      security:
        - bearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatronSubscriptionUpdate'
      responses:
        '200':
          description: Subscription updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Patronage]
      summary: Cancel subscription
      security:
        - bearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Subscription cancelled
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /patronage/patrons:
    get:
      tags: [Patronage]
      summary: Get patron recognition list
      description: Public endpoint showing current patrons
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: tier
          in: query
          schema:
            type: string
            enum: [sponsor_grand_patron, patron, supporter, advocate, legend]
      responses:
        '200':
          description: List of patrons
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Patron'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /patronage/admin/patrons:
    get:
      tags: [Patronage]
      summary: Get all patrons (admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, cancelled, expired, payment_failed]
      responses:
        '200':
          description: All patron records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminPatronView'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags: [Patronage]
      summary: Add manual patron (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPatronCreate'
      responses:
        '201':
          description: Patron added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /patronage/admin/patrons/{patronId}:
    put:
      tags: [Patronage]
      summary: Update patron (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: patronId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPatronUpdate'
      responses:
        '200':
          description: Patron updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Patronage]
      summary: Remove patron (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: patronId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Patron removed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # ACADEMY ENDPOINTS
  # ==============================
  /academy:
    get:
      tags: [Academy]
      summary: Get academy information
      description: Public academy hub information
      responses:
        '200':
          description: Academy information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademyHub'

  /academy/{page}:
    get:
      tags: [Academy]
      summary: Get specific academy page
      parameters:
        - name: page
          in: path
          required: true
          schema:
            type: string
            enum: [philosophy, curriculum, staff, pathway]
      responses:
        '200':
          description: Academy page content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademyPage'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /academy/staff:
    get:
      tags: [Academy]
      summary: Get academy staff
      responses:
        '200':
          description: Academy staff list
          content:
            application/json:
              schema:
                type: object
                properties:
                  staff:
                    type: array
                    items:
                      $ref: '#/components/schemas/AcademyStaff'

  /academy/contact:
    post:
      tags: [Academy]
      summary: Contact academy via WhatsApp
      description: Generate WhatsApp contact link with predefined message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                message:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: WhatsApp contact link
          content:
            application/json:
              schema:
                type: object
                properties:
                  whatsappUrl:
                    type: string
                    format: uri
                  message:
                    type: string

  # ==============================
  # ADVERTISING PLATFORM ENDPOINTS
  # ==============================
  /advertising/campaigns:
    get:
      tags: [Advertising]
      summary: List ad campaigns (advertiser/admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending_payment, active, paused, completed, cancelled]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdCampaignBasic'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags: [Advertising]
      summary: Create ad campaign (advertiser only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCampaignCreate'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}:
    get:
      tags: [Advertising]
      summary: Get campaign details
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Advertising]
      summary: Update campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCampaignUpdate'
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Advertising]
      summary: Delete campaign (advertiser/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Campaign deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/pause:
    post:
      tags: [Advertising]
      summary: Pause campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign paused
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/resume:
    post:
      tags: [Advertising]
      summary: Resume campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign resumed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/payment:
    post:
      tags: [Advertising]
      summary: Process campaign payment
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentMethod
              properties:
                paymentMethod:
                  type: string
                  enum: [card, bank_transfer, mobile_money]
                savePaymentMethod:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: uri
                    description: Redirect URL for payment gateway
                  reference:
                    type: string
                  amount:
                    type: number
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/performance:
    get:
      tags: [Advertising, Analytics]
      summary: Get campaign performance metrics
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hourly, daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdPerformance'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/export:
    get:
      tags: [Advertising]
      summary: Export campaign data to CSV
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: csv
      responses:
        '200':
          description: Campaign data export
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD ZONES & RATES MANAGEMENT
  # ==============================
  /advertising/zones:
    get:
      tags: [Advertising]
      summary: Get available ad zones
      description: Public endpoint to view advertising opportunities
      responses:
        '200':
          description: List of ad zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  zones:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdZone'

  /advertising/rates:
    get:
      tags: [Advertising]
      summary: Get current advertising rates
      responses:
        '200':
          description: Current rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  rates:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
                  lastUpdated:
                    type: string
                    format: date-time
                  nextUpdate:
                    type: string
                    format: date-time
                    description: When next rate change takes effect

  /advertising/rates/admin:
    get:
      tags: [Advertising]
      summary: Get all rates (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All rates including future changes
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
                  future:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    put:
      tags: [Advertising]
      summary: Update advertising rates (commercial manager only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rates
              properties:
                rates:
                  type: array
                  items:
                    $ref: '#/components/schemas/AdRateUpdate'
                effectiveFrom:
                  type: string
                  format: date-time
                  description: When new rates take effect (minimum 30 days notice)
      responses:
        '200':
          description: Rates updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  notificationSent:
                    type: boolean
                  effectiveFrom:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD CREATIVE MANAGEMENT
  # ==============================
  /advertising/creatives/upload:
    post:
      tags: [Advertising]
      summary: Upload ad creative
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - zone
              properties:
                file:
                  type: string
                  format: binary
                zone:
                  type: string
                  enum: [homepage_banner, top_page_banner, sidebar, article_footer, mid_article]
                campaignId:
                  type: string
                  format: uuid
                  description: Optional, for direct campaign association
      responses:
        '200':
          description: Creative uploaded and validated
          content:
            application/json:
              schema:
                type: object
                properties:
                  creativeId:
                    type: string
                    format: uuid
                  url:
                    type: string
                    format: uri
                  dimensions:
                    type: object
                    properties:
                      width:
                        type: integer
                      height:
                        type: integer
                  fileSize:
                    type: integer
                    description: Size in bytes
                  format:
                    type: string
                  validation:
                    $ref: '#/components/schemas/CreativeValidation'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # DISPUTE MANAGEMENT
  # ==============================
  /advertising/disputes:
    get:
      tags: [Advertising]
      summary: List disputes (commercial manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, resolved, closed]
        - name: advertiserId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of disputes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dispute'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags: [Advertising]
      summary: Create dispute
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeCreate'
      responses:
        '201':
          description: Dispute created
          content:
            application/json:
              schema:
                type: object
                properties:
                  caseNumber:
                    type: string
                  message:
                    type: string
                  estimatedResponseTime:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/disputes/{disputeId}:
    get:
      tags: [Advertising]
      summary: Get dispute details
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Advertising]
      summary: Update dispute (commercial manager only)
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeUpdate'
      responses:
        '200':
          description: Dispute updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/disputes/{disputeId}/response:
    post:
      tags: [Advertising]
      summary: Add response to dispute (commercial manager only)
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - response
              properties:
                response:
                  type: string
                internalNotes:
                  type: string
                status:
                  type: string
                  enum: [resolved, closed]
      responses:
        '200':
          description: Response added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD VIEW TRACKING
  # ==============================
  /advertising/track/view:
    post:
      tags: [Advertising, Analytics]
      summary: Track ad view (internal/GA4 integration)
      description: Endpoint for GA4 integration to track ad views
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdViewEvent'
      responses:
        '200':
          description: View tracked
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  # ==============================
  # ADVERTISING PLATFORM ENDPOINTS
  # ==============================
  /advertising/campaigns:
    get:
      tags: [Advertising]
      summary: List ad campaigns (advertiser/admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending_payment, active, paused, completed, cancelled]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdCampaignBasic'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags: [Advertising]
      summary: Create ad campaign (advertiser only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCampaignCreate'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}:
    get:
      tags: [Advertising]
      summary: Get campaign details
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Advertising]
      summary: Update campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCampaignUpdate'
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCampaign'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Advertising]
      summary: Delete campaign (advertiser/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Campaign deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/pause:
    post:
      tags: [Advertising]
      summary: Pause campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign paused
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/resume:
    post:
      tags: [Advertising]
      summary: Resume campaign (advertiser only)
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Campaign resumed
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/payment:
    post:
      tags: [Advertising]
      summary: Process campaign payment
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentMethod
              properties:
                paymentMethod:
                  type: string
                  enum: [card, bank_transfer, mobile_money]
                savePaymentMethod:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: uri
                    description: Redirect URL for payment gateway
                  reference:
                    type: string
                  amount:
                    type: number
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/performance:
    get:
      tags: [Advertising, Analytics]
      summary: Get campaign performance metrics
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hourly, daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdPerformance'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/campaigns/{campaignId}/export:
    get:
      tags: [Advertising]
      summary: Export campaign data to CSV
      security:
        - bearerAuth: []
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: csv
      responses:
        '200':
          description: Campaign data export
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD ZONES & RATES MANAGEMENT
  # ==============================
  /advertising/zones:
    get:
      tags: [Advertising]
      summary: Get available ad zones
      description: Public endpoint to view advertising opportunities
      responses:
        '200':
          description: List of ad zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  zones:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdZone'

  /advertising/rates:
    get:
      tags: [Advertising]
      summary: Get current advertising rates
      responses:
        '200':
          description: Current rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  rates:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
                  lastUpdated:
                    type: string
                    format: date-time
                  nextUpdate:
                    type: string
                    format: date-time
                    description: When next rate change takes effect

  /advertising/rates/admin:
    get:
      tags: [Advertising]
      summary: Get all rates (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All rates including future changes
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
                  future:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdRate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    put:
      tags: [Advertising]
      summary: Update advertising rates (commercial manager only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rates
              properties:
                rates:
                  type: array
                  items:
                    $ref: '#/components/schemas/AdRateUpdate'
                effectiveFrom:
                  type: string
                  format: date-time
                  description: When new rates take effect (minimum 30 days notice)
      responses:
        '200':
          description: Rates updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  notificationSent:
                    type: boolean
                  effectiveFrom:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD CREATIVE MANAGEMENT
  # ==============================
  /advertising/creatives/upload:
    post:
      tags: [Advertising]
      summary: Upload ad creative
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - zone
              properties:
                file:
                  type: string
                  format: binary
                zone:
                  type: string
                  enum: [homepage_banner, top_page_banner, sidebar, article_footer, mid_article]
                campaignId:
                  type: string
                  format: uuid
                  description: Optional, for direct campaign association
      responses:
        '200':
          description: Creative uploaded and validated
          content:
            application/json:
              schema:
                type: object
                properties:
                  creativeId:
                    type: string
                    format: uuid
                  url:
                    type: string
                    format: uri
                  dimensions:
                    type: object
                    properties:
                      width:
                        type: integer
                      height:
                        type: integer
                  fileSize:
                    type: integer
                    description: Size in bytes
                  format:
                    type: string
                  validation:
                    $ref: '#/components/schemas/CreativeValidation'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # DISPUTE MANAGEMENT
  # ==============================
  /advertising/disputes:
    get:
      tags: [Advertising]
      summary: List disputes (commercial manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, resolved, closed]
        - name: advertiserId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of disputes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dispute'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags: [Advertising]
      summary: Create dispute
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeCreate'
      responses:
        '201':
          description: Dispute created
          content:
            application/json:
              schema:
                type: object
                properties:
                  caseNumber:
                    type: string
                  message:
                    type: string
                  estimatedResponseTime:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/disputes/{disputeId}:
    get:
      tags: [Advertising]
      summary: Get dispute details
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Advertising]
      summary: Update dispute (commercial manager only)
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeUpdate'
      responses:
        '200':
          description: Dispute updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /advertising/disputes/{disputeId}/response:
    post:
      tags: [Advertising]
      summary: Add response to dispute (commercial manager only)
      security:
        - bearerAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - response
              properties:
                response:
                  type: string
                internalNotes:
                  type: string
                status:
                  type: string
                  enum: [resolved, closed]
      responses:
        '200':
          description: Response added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # AD VIEW TRACKING
  # ==============================
  /advertising/track/view:
    post:
      tags: [Advertising, Analytics]
      summary: Track ad view (internal/GA4 integration)
      description: Endpoint for GA4 integration to track ad views
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdViewEvent'
      responses:
        '200':
          description: View tracked
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'


  # ==============================
  # CONTENT MANAGEMENT ENDPOINTS
  # ==============================
  /content/articles:
    get:
      tags: [Content]
      summary: List articles
      description: Public endpoint to get published articles
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: tag
          in: query
          schema:
            type: string
            enum: [football_news, match_report, academy_update, player_spotlight, club_announcement]
        - name: author
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
        - name: search
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [published_at, updated_at, views]
            default: published_at
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: List of articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArticleBasic'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Content]
      summary: Create article (media manager/admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCreate'
      responses:
        '201':
          description: Article created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /content/articles/drafts:
    get:
      tags: [Content]
      summary: List draft articles (media manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
      responses:
        '200':
          description: List of draft articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArticleBasic'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /content/articles/{articleId}:
    get:
      tags: [Content]
      summary: Get article by ID
      description: Public endpoint, tracks view count
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleFull'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Content]
      summary: Update article (media manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
      responses:
        '200':
          description: Article updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Content]
      summary: Delete article (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Article deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /content/articles/{articleId}/publish:
    post:
      tags: [Content]
      summary: Publish article (media manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                publishAt:
                  type: string
                  format: date-time
                  description: Schedule for future publishing
      responses:
        '200':
          description: Article published/scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /content/articles/{articleId}/unpublish:
    post:
      tags: [Content]
      summary: Unpublish article (media manager/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Article unpublished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /content/articles/{articleId}/share:
    post:
      tags: [Content]
      summary: Generate share link for article
      description: Creates WhatsApp share link with predefined message
      parameters:
        - name: articleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Share information
          content:
            application/json:
              schema:
                type: object
                properties:
                  whatsappUrl:
                    type: string
                    format: uri
                    description: Pre-filled WhatsApp share URL
                  message:
                    type: string
                    description: Share message template
                  shortUrl:
                    type: string
                    format: uri
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ==============================
  # MATCH DATA ENDPOINTS
  # ==============================
  /matches/fixtures:
    get:
      tags: [Fixturees]
      summary: Get fixtures
      description: Public endpoint for upcoming matches
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: status
          in: query
          schema:
            type: string
            enum: [upcoming, past, all]
            default: upcoming
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
        - name: competition
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of fixtures
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fixture'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Fixturees]
      summary: Create fixture (sports admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixtureCreate'
      responses:
        '201':
          description: Fixture created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fixture'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /matches/fixtures/{fixtureId}:
    get:
      tags: [Fixturees]
      summary: Get fixture details
      parameters:
        - name: fixtureId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Fixture details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureDetail'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Fixturees]
      summary: Update fixture (sports admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: fixtureId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixtureUpdate'
      responses:
        '200':
          description: Fixture updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fixture'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /matches/fixtures/{fixtureId}/lineup:
    get:
      tags: [Fixturees]
      summary: Get fixture lineup
      parameters:
        - name: fixtureId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lineup information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lineup'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Fixturees]
      summary: Update fixture lineup (sports admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: fixtureId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineupUpdate'
      responses:
        '200':
          description: Lineup updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lineup'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /matches/league-table:
    get:
      tags: [Fixturees]
      summary: Get league table
      description: Public endpoint with horizontal scroll support for mobile
      parameters:
        - name: season
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{4}$'
        - name: competition
          in: query
          schema:
            type: string
      responses:
        '200':
          description: League table data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueTable'

  # ==============================
  # SEARCH ENDPOINTS
  # ==============================
  /search:
    get:
      tags: [Content, Players, Fixturees]
      summary: Global search
      description: Search across players, articles, and match reports
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: types
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [players, articles, matches]
            default: [players, articles, matches]
          style: form
          explode: false
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  results:
                    type: object
                    properties:
                      players:
                        type: array
                        items:
                          $ref: '#/components/schemas/PlayerBasic'
                      articles:
                        type: array
                        items:
                          $ref: '#/components/schemas/ArticleBasic'
                      matches:
                        type: array
                        items:
                          $ref: '#/components/schemas/Fixture'
                  totalResults:
                    type: integer
                  took:
                    type: number
                    description: Search time in milliseconds
        '400':
          $ref: '#/components/responses/BadRequestError'


  /players:
    get:
      tags: [Players]
      summary: List players
      description: Get list of players with filtering (public endpoint, limited data for unauthenticated)
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: position
          in: query
          schema:
            type: string
            enum: [GK, DF, MF, FW]
        - name: minAge
          in: query
          schema:
            type: integer
            minimum: 16
            maximum: 40
        - name: maxAge
          in: query
          schema:
            type: integer
            minimum: 16
            maximum: 40
        - name: search
          in: query
          schema:
            type: string
          description: Search by name
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [name, age, position]
            default: name
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: List of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerBasic'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Players]
      summary: Create player profile (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerCreate'
      responses:
        '201':
          description: Player created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /players/{playerId}:
    get:
      tags: [Players]
      summary: Get player by ID
      description: Returns full player data for authenticated scouts/admins, basic data for public
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Player details
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerFull'
                  - $ref: '#/components/schemas/PlayerBasic'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Players]
      summary: Update player profile (data steward/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerUpdate'
      responses:
        '200':
          description: Player updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerFull'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Players]
      summary: Delete player (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Player deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /players/{playerId}/audit:
    get:
      tags: [Players, Audit]
      summary: Get player audit trail
      description: Get history of changes to player profile (scout/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
      responses:
        '200':
          description: Audit trail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerAuditEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /players/{playerId}/pdf:
    post:
      tags: [Players]
      summary: Generate player PDF summary (admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                includeContactInfo:
                  type: boolean
                  default: false
                template:
                  type: string
                  enum: [standard, professional, scouting]
                  default: standard
      responses:
        '200':
          description: PDF generated successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '202':
          description: PDF generation in progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
                    enum: [processing]
                  estimatedCompletion:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /players/export:
    get:
      tags: [Players]
      summary: Export players to CSV (scout/admin only)
      security:
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [csv, json]
            default: csv
        - name: fields
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
            default: [name, position, age, height]
          style: form
          explode: false
        - name: position
          in: query
          schema:
            type: string
            enum: [GK, DF, MF, FW, all]
            default: all
      responses:
        '200':
          description: Export file
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ==============================
  # MATCH ARCHIVES ENDPOINTS (Pro View)
  # ==============================
  /matches/archives:
    get:
      tags: [Fixturees]
      summary: List match archives (scout only)
      description: Access full match archives for verified scouts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: season
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{4}$'
        - name: competition
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [available, processing]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of match archives
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FixtureArchive'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /matches/archives/{matchId}:
    get:
      tags: [Fixturees]
      summary: Get match archive details (scout only)
      security:
        - bearerAuth: []
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Fixture archive details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureArchiveDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /matches/archives/{matchId}/video:
    get:
      tags: [Fixturees]
      summary: Get match video embed information
      security:
        - bearerAuth: []
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: quality
          in: query
          schema:
            type: string
            enum: [auto, 360p, 480p, 720p, 1080p]
            default: auto
      responses:
        '200':
          description: Video embed configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoEmbed'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'


    description: Audit logging and compliance


  # ==============================
  # AUTHENTICATION ENDPOINTS
  # ==============================
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and create session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "SecurePass123!"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT access token
                  refreshToken:
                    type: string
                    description: Refresh token for obtaining new access tokens
                  user:
                    $ref: '#/components/schemas/UserProfile'
                  roles:
                    type: array
                    items:
                      type: string
                    example: ["scout", "advertiser"]
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'

 /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: Invalidate current session
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
[...]
